.logo
{
	    display: table-cell;
  		width: 15%;
  		background-color: $blue;
}

.mast
{
	    display: table-cell;
  		background-color: $white;
  		width: 60%;

}

.reporting

{
	    display: table-cell;
  		background-color: $white;
  		width: 25%;

}

#ef {
 
    }

#main-nav {
		background: $darkgrey;
		padding: 0px;
		vertical-align: top; 

		.dropdown {
			.btn.btn-default{
				width: 100%;
				border: none;
				border-radius: 0px;
				background-color: $darkgrey;
			}
		}
	}

#content {
		#date-time, #explore, #demographic, #scope {
		display: block;
		}

		#graph {

		}

		#explore {
			.nav-tabs {
			border-bottom: 0px;
			}
			.row {
			display: block;
			}
			#explore--item {
					.item {
					p {
						display: inline-flex;
						margin-bottom: 0px;
					}

					.progress {
						  width: 80px;
						  height: 10px;
						  display: inline-flex;
						  margin-bottom: 0px;
					}
					.bg-grey {
						display: inline-flex;
						p {
							margin-bottom: 0px;

						}
					}			
				}
			}
		}
	}

#content, #sidebar {
		padding-left: 0px;
		padding-right: 0px;
	}

#sidebar {
		background: $white;
		vertical-align: top;

		#scope {

		}

		#parameter {
			.para-item {
				p, .progress {
					display: inline-flex;
				}
				.progress {
					width: 80px;
  					height: 10px;
				}

			}
		}



}