#logo
{
	    display: table-cell;
  		width: 15%;
  		background-color: $blue;
}

#mast
{
	    display: table-cell;
  		background-color: $white;
  		width: 60%;
  		
  		.campaign {
  		padding-left:15px;
  			.grey {
  				color: $grey;
  			}
  		}

  		.live-glyph {
  			width: 25px; 
  		}
  		#mobile-menu {
  			margin-left: 15px;
  			display:none;
  		}

}

#reporting {

		.btn {
			border-radius: 0px; 
			width: 75%;
		}

	    display: table-cell;
  		background-color: $white;
  		width: 25%;

  		.dropdown {
  			.report-glyph {
  				width: 25px;
  			}
  		}

}

#ef {
 
    }

#main-nav {
		background: $darkgrey;
		padding: 0px;
		vertical-align: top; 

		#main-list {
			li {
				font-size: 12px;
				padding: 10px;
			}
			.active {
				background: $black;
				color: $white;
				.float-right {
					float:right;
					color: $grey;
				}
			}
		}
		.dropdown {
			.btn.btn-default{
				width: 100%;
				border: none;
				border-radius: 0px;
				background-color: $darkgrey;
			}
		}
	}

#content {
		#date-time, #explore, #demographic, #scope {
		display: block;
		}

		#graph {
			img {
				padding-left: 15px; 
   				padding-right: 20px;
			}
		}

		#demographic {
			small {
				margin-left: 15px;
			}
		}

		#explore {
			margin-left: 15px;
			padding-left: 0px;
			.nav-tabs {
			border-bottom: 0px;
			}
			.row {
			display: block;
			margin-left: 0px; 
			}
			.explore-glyph, .stats-glyph {
				width: 25px;
			}

			#explore--item {
					  font-size: 12px; 
					  border: 1px solid #ddd;
					  padding-left: 0px;
					  padding-right: 0px;
					  margin-right: 7px;
					  max-width: 31%;
  				      height: 340px;
					  background-color: $white;
					
					#dayparts {
						width: 100%;
					}

					span {
						float:left; 
					}

					.item {
						padding-left: 15px;
						
						.row {
							width: 100%;
							margin-bottom: 10px;
						}

						p {
							display: inline-flex;
							margin-bottom: 0px;
							display:inline-block;
							float:left;
						}

					.progress {
						  width: 80px;
						  height: 10px;
						  display: inline-flex;
						  display:inline-block;
						  float: left;
						  margin-bottom: 0px;
						  border-radius: 0px;
					}
					.bg-lightgrey {
						display: inline-flex;
						p {
							margin-bottom: 0px;
						}
					}			
				}
			}
		}
	}

#content, #sidebar {
	.btn {
		border-radius: 0px; 
	}
		padding-left: 0px;
		padding-right: 0px;
	}

#sidebar {
		background: $white;
		vertical-align: top;

		#scope {

		
		padding-left: 0px; 
		
		.btn-group {
			display: block;
			.scope-btn {
				width: 80%;
			}
		}

		/*.btn-group {
			width: 100%; 

			button {
				width: inherit;
				span {
					float: right;
					}
				}
			}*/
		}

		#parameter {
			.para-item {
				margin-left: 15px;
				font-size: 12px; 

				p, .progress {
					display: inline-flex;
					display: inline-block;
				}
				.progress {
					width: 80px;
  					height: 10px;
  					margin-bottom:0px;
  					border-radius: 0px;
				}
				.row {
					span {
						margin-left: 15px; 
					}
				}

			}
		}



}